{% extends 'base.html.twig' %}
{% block body %}

<h1 class="text-center mt-5">Event Details</h1>

<div class="container mt-5">
    <div class="card mx-auto" style="width: 30rem;">
        <img class="card-img-top" src="{{event.image}}" alt="{{event.name}}" style="object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">Capacity: {{event.capacity}}</p>
            <p class="card-text">Mail: {{event.email}}</p>
            <p class="card-text">Phone Number: {{event.phoneNumber}}</p>
            <p class="card-text">Address: {{event.address}}</p>
            <p class="card-text">Event Type: {{event.Type}}</p>
            <p class="card-text">Event Start: {{event.date | date('F j, Y, g:i a')}}</p>
            <p>Event Link: <a class="card-text" href="{{event.url}}">{{event.url}}</a></p>
        </div>
    </div>

    <a href="/" class="btn btn-danger mt-5 mx-auto">Back To Events</a>
</div>
{% endblock %}