{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
    <h2 class="page-header text-center">Edit Event</h2>
    <img class="border mt-5 mb-5 rounded mx-auto d-block" src="{{event.image}}" alt="{{event.name}}" height="200">
    
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}

    <a href="/" class="btn btn-danger">Back To Events</a>
</div>
{% endblock %}